.city-popup {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: calc(100vh + 70px);
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 5;

  @media (min-width: 768px) {
    background-color: transparent;
  }

  &__wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    min-width: 50vw;
    min-height: 30vh;

    @media (min-width: 768px) {
      min-width: auto;
      min-height: auto;
    }
  }

  &__img {
    max-width: 90vw;
    max-height: 65vh;
    border-radius: 16px;

    @media (min-width: 768px) {
      max-height: 100%;
    }
  }

  &__address {
    position: absolute;
    color: #fff;
    top: 14px;
    left: 25px;
    font-size: 26px;
    filter: drop-shadow(0 0 10px #000);
  }

  &__close-btn {
    position: absolute;
    right: 20px;
    top: 15px;
    width: 40px;
    height: 40px;
    padding: 10px;
    background: transparent;
    border-radius: 100%;

    &:after {
      content: '';
      position: absolute;
      width: 25px;
      height: 26px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url('./src/img/icons/cancel.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    &:hover,
    &:focus {
      outline: none;
    }
  }

  &__btn {
    position: absolute;
    bottom: 15px;
    left: 20px;
  }

  &__budapest {
    display: none;
    position: absolute;
    bottom: 15px;
    left: 20px;
    font-size: 19px;
    color: #fff;

    @media (min-width: 500px) {
      font-size: 22px;
    }

    &:before {
      content: '';
      position: absolute;
      top: -42px;
      left: 5px;
      width: 31px;
      height: 44px;
      background-image: url('./src/img/icons/label.svg');
      background-size: cover;
      background-repeat: no-repeat;

      @media (min-width: 500px) {
        top: -52px;
        left: 5px;
        width: 41px;
        height: 54px;
      }
    }
  }
}