html(lang='ru' itemscope itemtype="http://schema.org/LocalBusiness")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title= htmlWebpackPlugin.options.title

        meta(name="description" content="Купить прогулки на теплоходе в Будапеште")
        meta(property="og:title" content="Водные прогулки в Будапеште")
        meta(property="og:type" content="website")
        meta(property="og:url" content="https://site.ru/")
        meta(property="og:image" content="https://site.ru/img/landing/bg-promo.jpg")
        meta(property="og:description" content="Купить прогулки на теплоходе в Будапеште")

        meta(itemprop="image" content="https://moskvatrip.ru/assets/img/landing/nevatrip_logo_social.png")
        meta(itemprop="logo" content="https://moskvatrip.ru/assets/img/landing/nevatrip_logo_social.png")
        meta(itemprop="name" content="Budapest")
        meta(itemprop="email" content="info@moskvatrip.ru")

    body
        .preloader.js-preloader(style="position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 10; background-color: #fff;")
            img(src='./assets/img/landing/preloader.gif' alt="" role="presentation" style="width: 250px; heightL 250px; position: absolute; z-index: 3; top: 50%; left: 50%; transform: translate(-50%, -50%);")
        .is-load(style="display: none")
            header.header
                .container.header__container
                    img.logo(src="/assets/img/landing/icons/logo.svg" alt="Логотип компании." itemprop="logo")
                    div.header__wrapper
                        .langs.js-langs
                            span.langs__item_active Ru
                                svg.langs__svg.js-langs-svg(width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M3.95049 3.00777L0.973283 0.366865C0.891496 0.29414 0.784357 0.256442 0.671766 0.260625C0.559113 0.26481 0.455129 0.310352 0.378839 0.38895L0.135985 0.639075C0.0595658 0.717557 0.0197056 0.820156 0.0237034 0.927762C0.0277012 1.03537 0.07506 1.13461 0.157095 1.20726L3.70173 4.35169C3.7839 4.42464 3.89147 4.46226 4.00417 4.45777C4.1174 4.45386 4.22177 4.40843 4.29836 4.32952L7.5967 0.933915C7.67311 0.855373 7.71298 0.752894 7.70898 0.645229C7.70498 0.537622 7.65762 0.438384 7.57558 0.365669L7.31484 0.134313C7.14514 -0.0162303 6.87834 -0.00631836 6.72034 0.1564L3.95049 3.00777Z" fill="#fff")
                            .langs__wrapper.js-drop-wrap
                                a.langs__link.js-langs-link(href="#" ) En
                        .projects.js-langs
                            span.langs__item_active BudapeshtTrip
                                svg.langs__svg.js-langs-svg(width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M3.95049 3.00777L0.973283 0.366865C0.891496 0.29414 0.784357 0.256442 0.671766 0.260625C0.559113 0.26481 0.455129 0.310352 0.378839 0.38895L0.135985 0.639075C0.0595658 0.717557 0.0197056 0.820156 0.0237034 0.927762C0.0277012 1.03537 0.07506 1.13461 0.157095 1.20726L3.70173 4.35169C3.7839 4.42464 3.89147 4.46226 4.00417 4.45777C4.1174 4.45386 4.22177 4.40843 4.29836 4.32952L7.5967 0.933915C7.67311 0.855373 7.71298 0.752894 7.70898 0.645229C7.70498 0.537622 7.65762 0.438384 7.57558 0.365669L7.31484 0.134313C7.14514 -0.0162303 6.87834 -0.00631836 6.72034 0.1564L3.95049 3.00777Z" fill="#fff")
                            .projects__wrapper.js-drop-wrap
                                a.langs__link(href="#") BudapeshtTrip
                                a.langs__link(href="#") BudapeshtTrip
                                a.langs__link(href="#") BudapeshtTrip
            section.promo
                img.promo__bg(src="/assets/img/landing/bg-promo.jpg" alt="" role="presentation")
                .container.promo__container
                    .promo__wrapper
                        .promo__text-wrapper
                            .promo__text Привет! Скоро здесь можно будет
                                span(itemprop="name") &nbsp;купить билеты на&nbsp;водные прогулки и&nbsp;открыть для себя Будапешт с&nbsp;воды.
                        a.btn(href="#why") Погнали

            section#why.why
                .container
                    h2.title.why__title Что такое Будапешт с&nbsp;воды?
                    .why__wrapper
                        p.why__text(itemprop="description") Это совершенно иное ощущение города. Будто узнаешь его впервые и знакомишься уже с другим Будапештом. Когда здания и набережные предстают перед нами в новом ракурсе. Когда город начинает раскрываться, играя своим отражением и захватывая нас в свои объятия. Где о нем можно поговорить и неторопливо выпить чашечку кофе или бокал вина. Именно с таким Будапештом мы хотим познакомить каждого.
                        .slider
                            .slider__pseudo-img.slider__pseudo-img--left
                                img.js-pseudo-img(src="./assets/img/landing/slider/1.jpg" alt="" role="presentation")
                            .slider__pseudo-img.slider__pseudo-img--right
                                img.js-pseudo-img(src="./assets/img/landing/slider/1.jpg" alt="" role="presentation")
                            .owl-carousel.owl-theme
                                .slider__slide
                                    img.slider__img(src="./assets/img/landing/slider/1.jpg" alt="Фотография города Будапешта.")
                                .slider__slide
                                    img.slider__img(src="./assets/img/landing/slider/2.jpg" alt="Фотография города Будапешта.")
                                .slider__slide
                                    img.slider__img(src="./assets/img/landing/slider/3.jpg" alt="Фотография города Будапешта.")
                                .slider__slide
                                    img.slider__img(src="./assets/img/landing/slider/4.jpg" alt="Фотография города Будапешта.")
                                .slider__slide
                                    img.slider__img(src="./assets/img/landing/slider/5.jpg" alt="Фотография города Будапешта.")
                                .slider__slide
                                    img.slider__img(src="./assets/img/landing/slider/6.jpg" alt="Фотография города Будапешта.")
                                .slider__slide
                                    img.slider__img(src="./assets/img/landing/slider/7.jpg" alt="Фотография города Будапешта.")
                                .slider__slide
                                    img.slider__img(src="./assets/img/landing/slider/8.jpg" alt="Фотография города Будапешта.")
                                .slider__slide
                                    img.slider__img(src="./assets/img/landing/slider/9.jpg" alt="Фотография города Будапешта.")
                                .slider__slide
                                    img.slider__img(src="./assets/img/landing/slider/10.jpg" alt="Фотография города Будапешта.")

            section.about
                .container
                    h3.title.about__title Наши теплоходы уже бороздят речные просторы:
                .about__cities.js-cities
                    .about__cities-mobile.js-image-on-mobile
                        .container
                            include templates/cities-mobile
                    .about__cities-desktop.js-image-on-desktop
                        include templates/cities-desktop
                    .about__area.js-city-area(data-area='budapest')
                        a.about__popup.about__popup--budapest(href="https://budapest.com" target="_blank")
                            img.about__img(src="./assets/img/landing/budapest.jpg" alt="Фотография города Будапешта.")
                    .about__area.js-city-area(data-area='novgorod')
                        a.about__popup.about__popup--novgorod(href="https://moskvatrip.ru" target="_blank")
                            img.about__img(src="./assets/img/landing/novgorod.jpg" alt="Фотография города Будапешта.")
                    .about__area.js-city-area(data-area='kazan')
                        a.about__popup.about__popup--kazan(href="https://moskvatrip.ru" target="_blank")
                            img.about__img(src="./assets/img/landing/kazan.jpg" alt="Фотография города Будапешта.")
                    .about__area.js-city-area(data-area='praha')
                        a.about__popup.about__popup--praha(href="https://prahatrip.cz" target="_blank")
                            img.about__img(src="./assets/img/landing/praha.jpg" alt="Фотография города Будапешта.")
                    .about__area.js-city-area(data-area='moscow')
                        a.about__popup.about__popup--moscow(href="https://moskvatrip.ru" target="_blank")
                            img.about__img(src="./assets/img/landing/moscow.jpg" alt="Фотография города Будапешта.")
                    .about__area.js-city-area(data-area='spb')
                        a.about__popup.about__popup--spb(href="https://nevatrip.ru" target="_blank")
                            img.about__img(src="./assets/img/landing/spb.jpg" alt="Фотография города Будапешта.")
                    .about__cursor.js-cursor

            setcion.socials
                .container.socials__container
                    .socials__block
                        h4.title.socials__title Instagram
                        a.socials__link.socials__link--instagram(href="https://www.instagram.com/nevatrip.ru/" target="_blank")
                            img.socials__img(src="./assets/img/landing/instagram.png" alt="" role="presentation")
                        p.socials__text Здесь мы делимся полезной информацией о любимых городах и насыщенной жизнью нашей команды.
                    .socials__block
                        h4.title.socials__title YouTube
                        a.socials__link.socials__link--youtube(href="https://www.youtube.com/channel/UC3vCmQx4KRNwAhllZZU9n0Q" target="_blank")
                            img.socials__img(src="./assets/img/landing/youtube.png" alt="" role="presentation")
                        p.socials__text А здесь мы показываем прекрасные города России нашими глазами. Восхищайтесь и влюбляйтесь вместе с нами!

            footer.footer
                .container
                    .footer__text Связаться с нами:
                        a.footer__link(href="mailto:partnerstrip@trip.ru" target="_blank") partnerstrip@trip.ru
                    .footer__text.footer__text--mobile Другие наши проекты:
                        a.footer__link(href="" ) London
                        a.footer__link(href="" ) Paris
            .city-popup.js-city-popup
                .city-popup__wrapper
                    img.city-popup__img(src="" alt="Изображение города, в котором проводятся экскурсии.")
                    .city-popup__address.js-address
                    a.btn.city-popup__btn(href="" target="_blank") Перейти
                    button.city-popup__close-btn.js-close-city-popup
                    span.city-popup__budapest.js-budapest-popup Вы уже здесь


