@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import 'styles/base.scss';
@import 'styles/common.scss';
@import 'styles/components/header';
@import 'styles/components/city-popup';
@import 'styles/components/footer';

.is-load {
  height: 100%;
}

.langs,
.projects {
  position: relative;
  margin-left: 0;
  padding-left: 10px;
  padding-right: 10px;
  //margin-right: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #fff;
  //line-height: 2;
  //float: left;
  z-index: 1;
  //width: 48px;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color:  transparent;
}

.langs {
  //margin-right: 10px;

  //@media (min-width: 768px) {
  //  margin-right: 20px;
  //}
}
.langs__link {
  padding: 10px 17px 10px 10px;
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  color: #fff;
  //position: absolute;
  //top: 41px;
  width: 100%;
  line-height: 1;
  text-decoration: none;
  font-size: 17px;
  transition: background-color 0.3s, color 0.3s;

  //@media (min-width: 768px) {
  //  font-size: 15px;
  //}

  &:hover {
    background: #fff;
    color: #000;
  }
}

.langs__item_active {
  display: block;
  position: relative;
  padding: 9px;
  font-size: 17px;

  //@media (min-width: 768px) {
  //  font-size: 14px;
  //}
}

.langs__svg {
  position: absolute;
  top: calc(50% - 3px);
  margin-left: 6px;
  transform: translateY(-50%);
  transform: rotate(0);
  transition: transform 0.3s;
}

.langs__svg_active {
  top: calc(50% - 3.5px);
  transform: rotate(180deg);
}






.logo {
  position: relative;
  z-index: 1;
}

.langs__wrapper,
.projects__wrapper {
  position: absolute;
  flex-direction: column;
  display: none;
  min-width: 100%;
  top: 40px;
  border: 1px solid #EDEDED;
  border-radius: 4px;
}

.projects {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.promo {
  position: relative;
  height: 100vh;
  min-height: 500px;
  max-height: 1050px;
  padding: 50px 0;
  //background-image: url(/assets/img/landing/bg-promo.jpg);
  //background-position: center;
  //background-size: cover;
}

.promo__bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

//.promo:after {
//  position: absolute;
//  content: "";
//  display: block;
//  width: 80%;
//  height: 60%;
//  top: 35%;
//  z-index: 0;
//  //background: radial-gradient(65% 65% at 30% 30%, #2d2d2d 1%, transparent 65%);
//}

.promo__container {
  height: calc(100% - 100px);
  padding-top: 200px;
  //display: grid;
  //grid-template-rows: 1fr 1.5fr;
  //
  //@media (min-width: 768px) {
  //  grid-template-rows: 1fr 1.3fr;
  //}

  display: flex;
  align-items: center;

  //@media (min-width: 768px) {
  //  padding-top: 45%;
  //}
  //
  //@media (min-width: 991px) {
  //  padding-top: 40%;
  //}
  //
  //@media (min-width: 1024px) {
  //  padding-top: 30%;
  //}
}

.promo__wrapper {
  //position: relative;
  z-index: 1;
  max-width: 80%;

  @media (min-width: 991px) {
    max-width: 65%;
  }
}

.promo__text,
.promo__title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
  color: $white-color;

  @media (min-width: 768px) {
    font-size: 28px;
  }
}

.promo__text-wrapper {
  position: relative;

  &:before {
    position: absolute;
    content: "";
    display: block;
    width: calc(100% + 20px);
    height: 100%;
    top: 0;
    left: -10px;
    z-index: 0;
    //background: radial-gradient(65% 65% at 30% 30%, #2d2d2d 1%, transparent 65%);
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(30px);

    @media (min-width: 768px) {
      height: calc(100% + 20px);
      filter: blur(70px);
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}

.promo__text {
  margin-bottom: 30px;
  position: relative;
  z-index: 1;

  @media (min-width: 768px) {
    margin-bottom: 65px;
  }
}

.promo__title {
  display: inline;
}

.why {
  padding-top: 45px;

  @media (min-width: 768px) {
    padding-top: 70px;
  }
}

.why__wrapper {
  //@media (min-width: 768px) {
  //  display: grid;
  //  grid-template-columns: 1fr 1fr;
  //  grid-column-gap: 10%;
  //}

  @media (min-width: 991px) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.why__title {
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-bottom: 45px;
  }
}

.why__text {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  color: #000000;

  @media (min-width: 768px) {
    margin-bottom: 55px;
    font-size: 20px;
  }
}

.slider {
  position: relative;
  max-height: 230px;

  @media (min-width: 500px) {
    max-height: 300px;
  }

  @media (min-width: 600px) {
    max-height: 440px;
  }

  @media (min-width: 991px) {
    max-width: 50%;
    margin-right: 90px;
    max-height: 320px;
  }
}

.slider__pseudo-img {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    height: calc(100% - 70px);
    width: auto;
    margin: 35px 0;
    z-index: 1;
    filter: blur(5px);
    border-radius: 14px;
  }

  @media (min-width: 991px) {
    height: calc(100% - 50px);
    margin: 25px 0;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 14px;
    filter: blur(3px);
    z-index: 4;
  }

  & img {
    border-radius: 14px;
    filter: blur(1px);
  }
}

.slider__pseudo-img--left {
  @media (min-width: 768px) {
    top: 0;
    left: 0;
  }
}

.slider__pseudo-img--right {
  @media (min-width: 768px) {
    top: 0;
    right: 0;
  }
}

.slider__slide {
  height: 230px;

  @media (min-width: 500px) {
    height: 300px;
  }

  @media (min-width: 600px) {
    height: 440px;
  }

  @media (min-width: 991px) {
    height: 320px;
  }
}

.slider__img {
  position: relative;
  z-index: 2;
  width: 100%;
  border-radius: 16px;
  height: 100%;
  object-fit: cover;

  @media (min-width: 768px) {
    width: calc(100% - 70px) !important;
    margin: 0 35px;
  }

  @media (min-width: 991px) {
    width: calc(100% - 50px) !important;
    margin: 0 25px;
  }
}

//.owl-nav {
//  position: absolute;
//  top: 50%;
//  width: 100%;
//  padding: 0 12px;
//  display: flex;
//  justify-content: space-between;
//  transform: translateY(-50%);
//  z-index: 3;
//
//  @media (min-width: 768px) {
//    padding: 0 60px;
//  }
//}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  width: 20px;
  height: 30px;
  background-image: url("/assets/img/landing/icons/arrow.svg") !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;

  @media (min-width: 768px) {
    //width: 16px;
    //height: 26px;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

.owl-prev {
  left: 25px;

  @media (min-width: 768px) {
    left: 55px;
  }

  @media (min-width: 991px) {
    left: 40px;
  }
}

.owl-next {
  top: calc(50% - 20px);
  right: 25px;
  transform: rotate(180deg);

  @media (min-width: 768px) {
    right: 55px;
  }

  @media (min-width: 991px) {
    right: 40px;
  }
}

.owl-prev span,
.owl-next span {
  display: none;
}

.owl-dots {
  display: none;
}

.about {
  padding-top: 55px;
  //overflow: hidden;
}

.about__title {
  margin-bottom: 25px;
}

.about__cities {
  position: relative;
  max-width: 2560px;
  margin: 40px auto 20px;
  overflow: hidden;

  @media (min-width: 768px) {
    overflow: visible;
  }

  &.is-active {
    filter: blur(3px);
  }
}

.about__cities-mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

.about__cities-desktop {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.about__area {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color:  transparent;

  &.is-active {
    //background-color: rgba(0, 0, 0, 0.5);
    //bottom: 0;
    //right: 0;

    //@media (max-width: 768px) {
      display: none;
    //}

    .about__popup {
      display: block;
    }
  }
}

.about__popup {
  display: none;
}

.about__img {
  width: 100%;
}

.about__cursor {
  background-image: url('/assets/img/landing/icons/finger.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 42px;
  animation-duration: 15s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  position: absolute;
  top: 77%;
  left: 36%;
  opacity: 1;
  transform: rotate(-38deg);

  @media (min-width: 375px) {
    width: 27px;
    height: 45px;
  }

  @media (min-width: 768px) {
    //top: 34%;
    //left: 93%;
    display: none;
  }
}

@keyframes slidein {
  0% {
    top: 34%;
    left: 93%;
    opacity: 0;
  }

  5% {
    top: 34%;
    left: 93%;
    opacity: 1;
  }

  10% {
    top: 34%;
    left: 93%;
    opacity: 0;
  }

  15% {
    top: 34%;
    left: 93%;
    opacity: 1;
  }

  20% {
    top: 34%;
    left: 93%;
    opacity: 0;
  }

  22% {
    top: 56%;
    left: 55%;
    opacity: 0;
  }

  25% {
    top: 56%;
    left: 55%;
    opacity: 1;
  }

  30% {
    top: 56%;
    left: 55%;
    opacity: 0;
  }

  35% {
    top: 56%;
    left: 55%;
    opacity: 1;
  }

  40% {
    top: 56%;
    left: 55%;
    opacity: 0;
  }

  42% {
    top: 72%;
    left: 23%;
    opacity: 0;
  }

  45% {
    top: 72%;
    left: 23%;
    opacity: 1;
  }

  50% {
    top: 72%;
    left: 23%;
    opacity: 0;
  }

  55% {
    top: 72%;
    left: 23%;
    opacity: 1;
  }

  60% {
    top: 72%;
    left: 23%;
    opacity: 0;
  }

  62% {
    top: 90%;
    left: 56%;
    opacity: 0;
  }

  65% {
    top: 90%;
    left: 56%;
    opacity: 1;
  }

  70% {
    top: 90%;
    left: 56%;
    opacity: 0;
  }

  75% {
    top: 90%;
    left: 56%;
    opacity: 1;
  }

  80% {
    top: 90%;
    left: 56%;
    opacity: 0;
  }

  82% {
    top: 90%;
    left: 94%;
    opacity: 0;
  }

  85% {
    top: 90%;
    left: 94%;
    opacity: 1;
  }

  90% {
    top: 90%;
    left: 94%;
    opacity: 0;
  }

  95% {
    top: 90%;
    left: 94%;
    opacity: 1;
  }

  100% {
    top: 90%;
    left: 94%;
    opacity: 0;
  }
}



.socials__container {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10%;
  }
}

.socials__title {
  margin: 55px 0 20px;
}

.socials__link {
  position: relative;
  display: block;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: width 0.3s, height 0.3s;
  }

  &:hover:after {
    width: 90px;
    height: 90px;
  }

  &--instagram {
    &:after {
      background-image: url("/assets/img/landing/icons/instagram.svg");
    }
  }

  &--youtube {
    &:after {
      background-image: url("/assets/img/landing/icons/youtube.svg");
    }
  }
}

.socials__text {
  margin-top: 20px;
  font-weight: normal;
  font-size: 17px;
  line-height: 1.5;
  color: #000000;

  @media (min-width: 768px) {
    font-size: 20px;
  }

  //@media (min-width: 991px) {
  //  font-size: 22px;
  //}
}

.socials__img {
  width: 100%;
}
