.preloader.js-preloader(style="position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 10; background-color: #fff;")
    img(src='./assets/img/landing/preloader.gif' alt="" role="presentation" style="width: 250px; heightL 250px; position: absolute; z-index: 3; top: 50%; left: 50%; transform: translate(-50%, -50%);")