<!DOCTYPE html>
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title= htmlWebpackPlugin.options.title

    body
        section.promo
            img.logo(src="" alt="Логотип компании")
            h1.promo_title Привет! Скоро здесь можно будет купить билеты на водные прогулки в Будапеште.
            button.promo__btn(type="button") Погнали

        section.why
