<!DOCTYPE html>
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title= htmlWebpackPlugin.options.title

    body
        section.promo
            .container.promo__container
                img.logo(src="./src/img/icons/logo.svg" alt="Логотип компании")
                .promo__wrapper
                    .promo__text Привет! Скоро здесь можно будет купить билеты на
                        h1.promo__title водные прогулки в&nbsp;Будапеште
                        | .
                    a.promo__btn(href="#why") Погнали

        section#why.why
            .container
                h2.title.why__title Почему мы хотим открыться в&nbsp;Будапеште?
                .why__wrapper
                    p.why__text Там мы делимся полезной информацией о наших любимых городах. Восхищайтесь и впитывайте вместе с нами! Там мы делимся полезной информацией о наших любимых городах. Восхищайтесь и впитывайте вместе с нами! Там мы делимся полезной информацией о наших любимых городах. Восхищайтесь и впитывайте вместе с нами!
                    .slider
                        .owl-carousel.owl-theme
                            .slider__slide
                                .slider__pseudo-img(style="background-image: url('./src/img/slide.png')")
                                .slider__pseudo-img(style="background-image: url('./src/img/slide.png')")
                                img.slider__img(src="./src/img/slide.png" alt="")
                            .slider__slide
                                .slider__pseudo-img(style="background-image: url('./src/img/slide.png')")
                                .slider__pseudo-img(style="background-image: url('./src/img/slide.png')")
                                img.slider__img(src="./src/img/slide.png" alt="")
                            .slider__slide
                                .slider__pseudo-img(style="background-image: url('./src/img/slide.png')")
                                .slider__pseudo-img(style="background-image: url('./src/img/slide.png')")
                                img.slider__img(src="./src/img/slide.png" alt="")

        section.about
            .container
                h3.title.about__title Наши теплоходики уже бороздят речные просторы

        setcion.socials
            .container.socials__container
                .socials__block
                    h4.title.socials__title Instagram
                    img.socials__img(src="./src/img/instagram.png" alt="")
                    p.socials__text Там мы делимся полезной информацией о наших любимых городах. Восхищайтесь и впитывайте вместе с нами!
                .socials__block
                    h4.title.socials__title YouTube
                    img.socials__img(src="./src/img/youtube.png" alt="")
                    p.socials__text Там мы делимся полезной информацией о наших любимых городах. Восхищайтесь и впитывайте вместе с нами!

        footer.footer
            .container
                .footer__text Если у вас есть предложения, пишите нам:
                    a.footer__email(href="mailto:partnerstrip@trip.ru") partnerstrip@trip.ru


