<!DOCTYPE html>
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title= htmlWebpackPlugin.options.title

    body
        section.promo
            .container.promo__container
                img.logo(src="./src/img/icons/logo.svg" alt="Логотип компании")
                .promo__wrapper
                    .promo__text Привет! Скоро здесь можно будет купить билеты на
                        h1.promo__title водные прогулки в&nbsp;Будапеште
                        | .
                    a.promo__btn(href="#why") Погнали

        section#why.why
            .container
                h2.title.why__title Почему мы хотим открыться в&nbsp;Будапеште?
                .why__wrapper
                    p.why__text Там мы делимся полезной информацией о наших любимых городах. Восхищайтесь и впитывайте вместе с нами! Там мы делимся полезной информацией о наших любимых городах. Восхищайтесь и впитывайте вместе с нами! Там мы делимся полезной информацией о наших любимых городах. Восхищайтесь и впитывайте вместе с нами!
                    .slider
                        .slider__pseudo-img.slider__pseudo-img--left
                            img.js-pseudo-img(src="./src/img/slider/1.jpg" alt="")
                        .slider__pseudo-img.slider__pseudo-img--right
                            img.js-pseudo-img(src="./src/img/slider/1.jpg" alt="")
                        .owl-carousel.owl-theme
                            .slider__slide
                                img.slider__img(src="./src/img/slider/1.jpg" alt="")
                            .slider__slide
                                img.slider__img(src="./src/img/slider/2.jpg" alt="")
                            .slider__slide
                                img.slider__img(src="./src/img/slider/3.jpg" alt="")
                            .slider__slide
                                img.slider__img(src="./src/img/slider/4.jpg" alt="")
                            .slider__slide
                                img.slider__img(src="./src/img/slider/5.jpg" alt="")
                            .slider__slide
                                img.slider__img(src="./src/img/slider/6.jpg" alt="")
                            .slider__slide
                                img.slider__img(src="./src/img/slider/7.jpg" alt="")
                            .slider__slide
                                img.slider__img(src="./src/img/slider/8.jpg" alt="")
                            .slider__slide
                                img.slider__img(src="./src/img/slider/9.jpg" alt="")
                            .slider__slide
                                img.slider__img(src="./src/img/slider/10.jpg" alt="")

        section.about
            .container
                h3.title.about__title Наши теплоходики уже бороздят речные просторы
            .about__cities.js-cities
                .about__cities-mobile
                    //include templates/cities-mobile
                .about__cities-desktop
                    include templates/cities-desktop
                .about__area(data-area='novgorod')
                    a.about__link.about__link--novgorod(href="#")
                        img(src="./src/img/novgorod.png")
                .about__area(data-area='kazan')
                    a.about__link.about__link--kazan(href="#")
                        img(src="./src/img/kazan.png")
                .about__area(data-area='praha')
                    a.about__link.about__link--praha(href="prahatrip.cz")
                        img(src="./src/img/praha.png")
                .about__area(data-area='moscow')
                    a.about__link.about__link--moscow(href="moskvatrip.ru")
                        img(src="./src/img/moscow.png")
                .about__area(data-area='spb')
                    a.about__link.about__link--spb(href="nevatrip.ru")
                        img(src="./src/img/spb.png")

        setcion.socials
            .container.socials__container
                .socials__block
                    h4.title.socials__title Instagram
                    a(href="")
                        img.socials__img(src="./src/img/instagram.png" alt="")
                    p.socials__text Там мы делимся полезной информацией о наших любимых городах. Восхищайтесь и впитывайте вместе с нами!
                .socials__block
                    h4.title.socials__title YouTube
                    a(href="")
                        img.socials__img(src="./src/img/youtube.png" alt="")
                    p.socials__text Там мы делимся полезной информацией о наших любимых городах. Восхищайтесь и впитывайте вместе с нами!

        footer.footer
            .container
                .footer__text Если у вас есть предложения, пишите нам:
                    a.footer__email(href="mailto:partnerstrip@trip.ru") partnerstrip@trip.ru


