@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $main-color;
}

//.text {
//  color: $gray-color;
//  font-size: 14px;
//  font-weight: 400;
//  line-height: 1.7;
//}

button {
  border: 0;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.container {
  padding: 0 15px;

  @media (min-width: 768px) {
    padding: 0 45px;
  }

  @media (min-width: 1200px) {
    padding: 0 210px;
  }
}

.title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.3;
  color: #000000;
}

.promo {
  position: relative;
  height: 100vh;
  min-height: 300px;
  padding: 50px 0;
  background-image: url(./src/img/bg-promo.png);
  background-position: center;
  background-size: cover;
}

.promo:after {
  position: absolute;
  content: "";
  display: block;
  width: 80%;
  height: 60%;
  top: 35%;
  z-index: 0;
  background: radial-gradient(65% 65% at 30% 30%, #2d2d2d 1%, transparent 65%);
}

.promo__container {
  height: calc(100% - 100px);
  display: grid;
  grid-template-rows: 1fr 1.8fr;

  @media (min-width: 768px) {
    grid-template-rows: 1fr 1.3fr;
  }
}

.promo__wrapper {
  position: relative;
  z-index: 1;
}

.promo__text,
.promo__title {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  color: $white-color;

  @media (min-width: 768px) {
    font-size: 28px;
  }
}

.promo__text {
  max-width: 80%;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-bottom: 65px;
  }
}

.promo__title {
  display: inline;
}

.promo__btn {
  padding: 15px 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: $font-color;
  background-color: #FED74B;
  border: 1px solid #CBA500;
  box-sizing: border-box;
  border-radius: 23px;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    box-shadow: 0 0 10px #cba500;
  }
}

.why {
  padding-top: 45px;
}

.why__wrapper {
  //@media (min-width: 768px) {
  //  display: grid;
  //  grid-template-columns: 1fr 1fr;
  //  grid-column-gap: 10%;
  //}
  display: flex;
  flex-direction: row-reverse;
}

.why__title {
  margin-bottom: 30px;
}

.why__text {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  color: #000000;
}

.slider {
  position: relative;

  @media (min-width: 768px) {
    max-width: 50%;
    max-height: 320px;
    margin-right: 90px;
  }
}

.slider__pseudo-img {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    height: calc(100% - 70px);
    width: auto;
    margin: 35px 0;
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 14px;
    filter: blur(5px);
  }

  & img {
    border-radius: 14px;
    filter: blur(1px);
  }
}

.slider__pseudo-img--left {
  @media (min-width: 768px) {
    top: 0;
    left: 0;
  }
}

.slider__pseudo-img--right {
  @media (min-width: 768px) {
    top: 0;
    right: 0;
  }
}

.slider__slide {
  height: 320px;
}

.slider__img {
  position: relative;
  z-index: 2;
  width: 100%;
  border-radius: 16px;

  @media (min-width: 768px) {
    width: calc(100% - 70px) !important;
    margin: 0 35px;
  }
}

.owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 3;

  @media (min-width: 768px) {
    padding: 0 60px;
  }
}

.owl-prev,
.owl-next {
  width: 11px;
  height: 18px;
  background-image: url("./src/img/icons/arrow.svg") !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;

  @media (min-width: 768px) {
    width: 16px;
    height: 26px;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

.owl-prev {
}

.owl-next {
  transform: rotate(180deg);
}

.owl-prev span,
.owl-next span {
  display: none;
}

.owl-dots {
  display: none;
}

.about {
  padding-top: 55px;
}

.about__title {
  margin-bottom: 25px;
}

.about__cities {
  position: relative;
}

.about__cities-mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

.about__cities-desktop {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.about__area {
  position: absolute;

  &:hover .about__link {
    display: block;
  }
}

.about__link {
  display: none;
  position: absolute;
  width: 120px;

  &--novgorod {
    top: -66px;
    left: -80px;
  }

  &--kazan {
    top: 87px;
    left: 98px;
  }

  &--praha {
    top: -73px;
    left: 43px;
  }

  &--moscow {
    left: -120px;
    bottom: -20px;
  }

  &--spb {
    top: -40px;
    left: -95px;
  }
}

.socials__container {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10%;
  }
}

.socials__title {
  margin: 55px 0 20px;
}

.socials__text {
  margin-top: 20px;
  font-weight: normal;
  font-size: 19px;
  line-height: 1.6;
  color: #000000;
}

.footer {
  margin-top: 65px;
  padding: 45px 0;
  background-color: #232323;
}

.footer__text {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
}

.footer__email {
  display: block;
  margin-top: 25px;
  font-weight: 600;
  font-size: 23px;
  color: #FFFFFF;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    text-decoration: underline;
  }
}
