@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $main-color;

  //.is-load {
  //  max-height: 100vh;
  //  max-width: 100vw;
  //}
}

//.text {
//  color: $gray-color;
//  font-size: 14px;
//  font-weight: 400;
//  line-height: 1.7;
//}

button {
  border: 0;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.container {
  padding: 0 15px;
  max-width: 1600px;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding: 0 45px;
  }

  @media (min-width: 1200px) {
    padding: 0 210px;
  }
}

.title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
  color: #000;

  @media (min-width: 768px) {
    font-size: 34px;
  }
}
.preloader {
  display: none;

  &.is-active {
    display: block;
    width: 100px;
    height: 100px;
  }
}

.header {
  width: 100%;
  position: absolute;
  padding: 45px 0;
}

.header__container {
  //width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__wrapper {
  display: flex;
  align-items: center;
}






.langs,
.projects {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #fff;
  padding: 0;
  //line-height: 2;
  //float: left;
  z-index: 1;
  //width: 48px;
}

.langs {
  margin-right: 10px;

  @media (min-width: 768px) {
    margin-right: 30px;
  }
}
.langs__link {
  padding: 10px 17px 10px 10px;
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  color: #fff;
  //position: absolute;
  //top: 41px;
  width: 100%;
  line-height: 1;
  text-decoration: none;
  font-size: 17px;
  transition: background-color 0.3s, color 0.3s;

  //@media (min-width: 768px) {
  //  font-size: 15px;
  //}

  &:hover {
    background: #fff;
    color: #000;
  }
}

.langs__item_active {
  display: block;
  position: relative;
  padding: 9px;
  font-size: 17px;

  //@media (min-width: 768px) {
  //  font-size: 14px;
  //}
}

.langs__svg {
  position: absolute;
  top: calc(50% - 3px);
  margin-left: 6px;
  transform: translateY(-50%);
  transform: rotate(0);
  transition: transform 0.3s;
}

.langs__svg_active {
  top: calc(50% - 3.5px);
  transform: rotate(180deg);
}






.logo {
  position: relative;
  z-index: 1;
}

.langs__wrapper,
.projects__wrapper {
  position: absolute;
  flex-direction: column;
  display: none;
  top: 40px;
  border: 1px solid #EDEDED;
  border-radius: 4px;
}

.projects {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.promo {
  position: relative;
  height: 100vh;
  min-height: 300px;
  max-height: 1050px;
  padding: 50px 0;
  background-image: url(./src/img/bg-promo.png);
  background-position: center;
  background-size: cover;
}

//.promo:after {
//  position: absolute;
//  content: "";
//  display: block;
//  width: 80%;
//  height: 60%;
//  top: 35%;
//  z-index: 0;
//  //background: radial-gradient(65% 65% at 30% 30%, #2d2d2d 1%, transparent 65%);
//}

.promo__container {
  height: calc(100% - 100px);
  padding-top: 50px;
  //display: grid;
  //grid-template-rows: 1fr 1.5fr;
  //
  //@media (min-width: 768px) {
  //  grid-template-rows: 1fr 1.3fr;
  //}

  display: flex;
  align-items: center;

  //@media (min-width: 768px) {
  //  padding-top: 45%;
  //}
  //
  //@media (min-width: 991px) {
  //  padding-top: 40%;
  //}
  //
  //@media (min-width: 1024px) {
  //  padding-top: 30%;
  //}
}

.promo__wrapper {
  //position: relative;
  z-index: 1;
  max-width: 80%;

  @media (min-width: 991px) {
    max-width: 65%;
  }
}

.promo__text,
.promo__title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
  color: $white-color;

  @media (min-width: 768px) {
    font-size: 28px;
  }
}

.promo__text-wrapper {
  position: relative;

  &:before {
    position: absolute;
    content: "";
    display: block;
    width: calc(100% + 20px);
    height: 100%;
    top: 0;
    left: -10px;
    z-index: 0;
    //background: radial-gradient(65% 65% at 30% 30%, #2d2d2d 1%, transparent 65%);
    background-color: rgba(0, 0, 0, 0.7);
    filter: blur(50px);

    @media (min-width: 768px) {
      height: calc(100% + 20px);
      filter: blur(70px);
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}

.promo__text {
  margin-bottom: 30px;
  position: relative;
  z-index: 1;

  @media (min-width: 768px) {
    margin-bottom: 65px;
  }
}

.promo__title {
  display: inline;
}

.promo__btn {
  position: relative;
  display: inline-block;
  padding: 15px 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: $font-color;
  background-color: #FED74B;
  border: 1px solid #CBA500;
  box-sizing: border-box;
  border-radius: 23px;
  text-decoration: none;
  z-index: 1;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    box-shadow: 0 0 10px #cba500;
  }
}

.why {
  padding-top: 45px;

  @media (min-width: 768px) {
    padding-top: 70px;
  }
}

.why__wrapper {
  //@media (min-width: 768px) {
  //  display: grid;
  //  grid-template-columns: 1fr 1fr;
  //  grid-column-gap: 10%;
  //}

  @media (min-width: 991px) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.why__title {
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-bottom: 45px;
  }
}

.why__text {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  color: #000000;

  @media (min-width: 768px) {
    margin-bottom: 55px;
    font-size: 22px;
  }
}

.slider {
  position: relative;
  max-height: 230px;

  @media (min-width: 768px) {
    max-height: 440px;
  }

  @media (min-width: 991px) {
    max-width: 50%;
    margin-right: 90px;
    max-height: 320px;
  }
}

.slider__pseudo-img {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    height: calc(100% - 70px);
    width: auto;
    margin: 35px 0;
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 14px;
    filter: blur(5px);
  }

  & img {
    border-radius: 14px;
    filter: blur(1px);
  }
}

.slider__pseudo-img--left {
  @media (min-width: 768px) {
    top: 0;
    left: 0;
  }
}

.slider__pseudo-img--right {
  @media (min-width: 768px) {
    top: 0;
    right: 0;
  }
}

.slider__slide {
  height: 230px;

  @media (min-width: 768px) {
    height: 440px;
  }

  @media (min-width: 991px) {
    height: 320px;
  }
}

.slider__img {
  position: relative;
  z-index: 2;
  width: 100%;
  border-radius: 16px;
  height: 100%;
  object-fit: cover;

  @media (min-width: 768px) {
    width: calc(100% - 70px) !important;
    margin: 0 35px;
  }
}

.owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 3;

  @media (min-width: 768px) {
    padding: 0 60px;
  }
}

.owl-prev,
.owl-next {
  width: 16px;
  height: 26px;
  background-image: url("./src/img/icons/arrow.svg") !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;

  @media (min-width: 768px) {
    width: 16px;
    height: 26px;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

.owl-prev {
}

.owl-next {
  transform: rotate(180deg);
}

.owl-prev span,
.owl-next span {
  display: none;
}

.owl-dots {
  display: none;
}

.about {
  padding-top: 55px;
}

.about__title {
  margin-bottom: 25px;
}

.about__cities {
  position: relative;
  max-width: 2560px;
  margin: 40px auto 20px;
}

.about__cities-mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

.about__cities-desktop {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.about__area {
  position: absolute;
  z-index: 2;

  &:hover .about__popup {
    display: block;
  }
}

.about__popup {
  display: none;
  position: absolute;
  width: 120px;

  @media (min-width: 500px) {
    width: 140px;
  }

  @media (min-width: 600px) {
    width: 160px;
  }

  @media (min-width: 700px) {
    width: 180px;
  }

  @media (min-width: 768px) {
    width: 100px;
  }

  @media (min-width: 1100px) {
    width: 140px;
  }

  @media (min-width: 1300px) {
    width: 160px;
  }

  &:hover .about__text-link  {
    text-decoration: underline;
  }

  &--novgorod {
    top: -66px;
    left: -80px;
  }

  &--kazan {
    top: 87px;
    left: 98px;
  }

  &--praha {
    top: -73px;
    left: 43px;
  }

  &--moscow {
    left: -120px;
    bottom: -20px;
  }

  &--spb {
    top: -40px;
    left: -95px;
  }
}

.about__img {
  width: 100%;
}

.about__text-link {
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: #fff;
}

.about__cursor {
  background-image: url('./src/img/icons/finger.svg');
  width: 45px;
  height: 45px;
  animation-duration: 15s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  position: absolute;
  top: 77%;
  left: 36%;
  opacity: 1;

  @media (min-width: 768px) {
    top: 34%;
    left: 93%;
  }
}

@keyframes slidein {
  0% {
    top: 34%;
    left: 93%;
    opacity: 0;
  }

  5% {
    top: 34%;
    left: 93%;
    opacity: 1;
  }

  10% {
    top: 34%;
    left: 93%;
    opacity: 0;
  }

  15% {
    top: 34%;
    left: 93%;
    opacity: 1;
  }

  20% {
    top: 34%;
    left: 93%;
    opacity: 0;
  }

  22% {
    top: 56%;
    left: 55%;
    opacity: 0;
  }

  25% {
    top: 56%;
    left: 55%;
    opacity: 1;
  }

  30% {
    top: 56%;
    left: 55%;
    opacity: 0;
  }

  35% {
    top: 56%;
    left: 55%;
    opacity: 1;
  }

  40% {
    top: 56%;
    left: 55%;
    opacity: 0;
  }

  42% {
    top: 72%;
    left: 23%;
    opacity: 0;
  }

  45% {
    top: 72%;
    left: 23%;
    opacity: 1;
  }

  50% {
    top: 72%;
    left: 23%;
    opacity: 0;
  }

  55% {
    top: 72%;
    left: 23%;
    opacity: 1;
  }

  60% {
    top: 72%;
    left: 23%;
    opacity: 0;
  }

  62% {
    top: 92%;
    left: 56%;
    opacity: 0;
  }

  65% {
    top: 92%;
    left: 56%;
    opacity: 1;
  }

  70% {
    top: 92%;
    left: 56%;
    opacity: 0;
  }

  75% {
    top: 92%;
    left: 56%;
    opacity: 1;
  }

  80% {
    top: 92%;
    left: 56%;
    opacity: 0;
  }

  82% {
    top: 92%;
    left: 94%;
    opacity: 0;
  }

  85% {
    top: 92%;
    left: 94%;
    opacity: 1;
  }

  90% {
    top: 92%;
    left: 94%;
    opacity: 0;
  }

  95% {
    top: 92%;
    left: 94%;
    opacity: 1;
  }

  100% {
    top: 92%;
    left: 94%;
    opacity: 0;
  }
}
@media (min-width: 768px) {
  @keyframes slidein {
    0% {
      top: 77%;
      left: 36%;
      opacity: 0;
    }

    5% {
      top: 77%;
      left: 36%;
      opacity: 1;
    }

    10% {
      top: 77%;
      left: 36%;
      opacity: 0;
    }

    15% {
      top: 77%;
      left: 36%;
      opacity: 1;
    }

    20% {
      top: 77%;
      left: 36%;
      opacity: 0;
    }

    22% {
      top: 35%;
      left: 46%;
      opacity: 0;
    }

    25% {
      top: 35%;
      left: 46%;
      opacity: 1;
    }

    30% {
      top: 35%;
      left: 46%;
      opacity: 0;
    }

    35% {
      top: 35%;
      left: 46%;
      opacity: 1;
    }

    40% {
      top: 35%;
      left: 46%;
      opacity: 0;
    }

    42% {
      top: 70%;
      left: 58%;
      opacity: 0;
    }

    45% {
      top: 70%;
      left: 58%;
      opacity: 1;
    }

    50% {
      top: 70%;
      left: 58%;
      opacity: 0;
    }

    55% {
      top: 70%;
      left: 58%;
      opacity: 1;
    }

    60% {
      top: 70%;
      left: 58%;
      opacity: 0;
    }

    62% {
      top: 36%;
      left: 72%;
      opacity: 0;
    }

    65% {
      top: 36%;
      left: 72%;
      opacity: 1;
    }

    70% {
      top: 36%;
      left: 72%;
      opacity: 0;
    }

    75% {
      top: 36%;
      left: 72%;
      opacity: 1;
    }

    80% {
      top: 36%;
      left: 72%;
      opacity: 0;
    }

    82% {
      top: 76%;
      left: 84%;
      opacity: 0;
    }

    85% {
      top: 76%;
      left: 84%;
      opacity: 1;
    }

    90% {
      top: 76%;
      left: 84%;
      opacity: 0;
    }

    95% {
      top: 76%;
      left: 84%;
      opacity: 1;
    }

    100% {
      top: 76%;
      left: 84%;
      opacity: 0;
    }
  }
}


.socials__container {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10%;
  }
}

.socials__title {
  margin: 55px 0 20px;
}

.socials__text {
  margin-top: 20px;
  font-weight: normal;
  font-size: 19px;
  line-height: 1.5;
  color: #000000;

  @media (min-width: 768px) {
    font-size: 20px;
  }

  @media (min-width: 991px) {
    font-size: 22px;
  }
}

.socials__img {
  width: 100%;
}

.footer {
  margin-top: 65px;
  padding: 45px 0;
  background-color: #232323;
}

.footer__text {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
}

.footer__email {
  display: block;
  margin-top: 25px;
  font-weight: 600;
  font-size: 23px;
  color: #FFFFFF;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    text-decoration: underline;
  }
}
